<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" style="text-align: center">الواجبات</h4>
                        <p class="card-category" style="text-align: center">اضافة واجب جديد</p>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="saveFormData(f)" style="direction:rtl">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>اختر المرحلة</mat-label>
                                        <mat-select (selectionChange)="stageSelect($event.value)" name="stage"
                                            [(ngModel)]="homework.stage">
                                            <mat-option value="الاولى">الاولى</mat-option>
                                            <mat-option value="الثانية">الثانية</mat-option>
                                            <mat-option value="الثالثة">الثالثة</mat-option>
                                            <mat-option value="الرابعة">الرابعة</mat-option>
                                            <mat-option value="الخامسة">الخامسة</mat-option>
                                            <mat-option value="السادسة">السادسة</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>اختر الشعبة</mat-label>
                                        <mat-select name="division" [(ngModel)]="homework.division">
                                            <mat-option value="أ">أ</mat-option>
                                            <mat-option value="ب">ب</mat-option>
                                            <mat-option value="ج">ج</mat-option>
                                            <mat-option value="د">د</mat-option>
                                            <mat-option value="ه">ه</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>اختر المادة</mat-label>
                                        <mat-select name="course" [(ngModel)]="homework.course">
                                            <mat-option *ngFor="let data of CourseData" [value]="data">{{data}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input autocomplete="off" matInput placeholder="الموضوع" name="subject"
                                            [(ngModel)]="homework.subject" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input autocomplete="off" matInput [matDatepicker]="picker"
                                            placeholder="تاريخ الواجب" name="date" [(ngModel)]="homework.date" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <textarea autocomplete="off" matInput placeholder="التفاصيل" name="description"
                                            [(ngModel)]="homework.description" required></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="!f.valid"
                                class="btn btn-danger pull-right"><i class="material-icons">check</i> ارسال</button>
                            <button mat-raised-button class="btn btn-danger pull-right" routerLink="/dashboard"><i
                                    class="material-icons">cancel</i> الغاء</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12" style="direction: rtl">
                    <div class="card">
                        <div class="card-header card-header-danger" style="text-align: center">
                            <h4 class="card-title ">قائمة الواجبات</h4>
                            <p class="card-category">معلومات الواجبات</p>
                            <div class="row" style="direction: rtl">
                                <div class="col-md-4">
                                    <h4 style="text-align: right">المرحلة</h4>
                                    <mat-form-field>
                                        <mat-label>اختر المرحلة</mat-label>
                                        <mat-select name="stage" [(ngModel)]="stage">
                                            <mat-option value="الاولى">الاولى</mat-option>
                                            <mat-option value="الثانية">الثانية</mat-option>
                                            <mat-option value="الثالثة">الثالثة</mat-option>
                                            <mat-option value="الرابعة">الرابعة</mat-option>
                                            <mat-option value="الخامسة">الخامسة</mat-option>
                                            <mat-option value="السادسة">السادسة</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <h4 style="text-align: right">الشعبة</h4>
                                    <mat-form-field>
                                        <mat-label>اختر الشعبة</mat-label>
                                        <mat-select name="division" [(ngModel)]="division">
                                            <mat-option value="أ">أ</mat-option>
                                            <mat-option value="ب">ب</mat-option>
                                            <mat-option value="ج">ج</mat-option>
                                            <mat-option value="د">د</mat-option>
                                            <mat-option value="ه">ه</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" style="margin-top: 25px">
                                    <button mat-raised-button (click)="filterExact(stage, division)"
                                        class="btn btn-danger pull-right"><i class="material-icons">check</i>
                                        بحث</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" *ngFor="let item of filterData">
                                    <div class="card-deck">
                                        <div class="card">
                                            <img class="card-img-top img-adjusted" src="{{item.image}}">
                                            <div class="card-body">
                                                <h5 class="card-title">{{item.stage}} {{item.division}}</h5>
                                                <button style="color:white; background: #ff5e00"
                                                    class="btn btn-danger btn-round btn-sm"
                                                    (click)="openDialog(item.id, item.imgname)"><i
                                                        style="margin: 0 auto"
                                                        class="material-icons">delete</i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-danger">
                                        <th>المرحلة</th>
                                        <th>الشعبة</th>
                                        <th>المادة </th>
                                        <th>الموضوع</th>
                                        <th>التفاصيل</th>
                                        <th>التاريخ</th>
                                        <th>الاجرائات</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let homework of homeworkData">
                                            <td>{{homework.stage}}</td>
                                            <td>{{homework.division}}</td>
                                            <td>{{homework.course}}</td>
                                            <td>{{homework.subject}}</td>
                                            <td>{{homework.description}}</td>
                                            <td>{{homework.date}}</td>
                                            <td><a style="color:white; background: #ff5e00"
                                                    class="btn btn-white btn-round btn-just-icon"
                                                    (click)="onDelete(homework)">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                                <a class="btn btn-white btn-round btn-just-icon"
                                                    (click)="onEdit(homework)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>