.chat-title{
    color: blue;
    font-family: 'Playball', cursive;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    display: inline-block;
    width: 140px;
   
 }

 .option-title {
  font-weight: lighter; 
  font-family: 'Times New Roman';
  font-size: 20px; 
  font-style: italic; 
  text-transform: capitalize;
  color:blue;
}


 .message-right{
  color: blue;
  font-family: 'Playball', cursive;
  font-size: 16px;
  font-weight: 200;
 
}


.message-left{
  color: red;
  font-family: 'Playball', cursive;
  font-size: 16px;
  font-weight: 200;

}