<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title" style="text-align: center">معلومات المدرسة</h4>
        <p class="card-category" style="text-align: center">قائمة معلومات المدرسة</p>
      </div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="saveFormData(f)" style="direction:rtl">
          <div class="row" style="direction: rtl">
            
            <div class="col-md-4">
              <h4 style="text-align: right">اسم المدرسة</h4>            
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="اسم المدرسة" name="name"
                      [(ngModel)]="history.name" required>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <h4 style="text-align: right">اسم المالك</h4>            
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="اسم المالك" name="owner_name"
                      [(ngModel)]="history.owner_name" required>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <h4 style="text-align: right">اسم المدير</h4>            
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="اسم المدير" name="director_name"
                      [(ngModel)]="history.director_name" required>
              </mat-form-field>
            </div>
            

          </div>
          <div class="row" style="direction: rtl">
            <div class="col-md-12">
              <mat-form-field>
                <input autocomplete="off" matInput [matDatepicker]="picker" placeholder="تاريخ التأسيس" name="establishment_date"
                  [(ngModel)]="history.establishment_date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
           
          </div>

          <div class="row" style="direction: rtl">
            <div class="col-md-12">
              <h4 style="text-align: right">نبذة عن المدرسة </h4>            
                <mat-form-field>
                  <input autocomplete="off" matInput placeholder="نبذة عن المدرسة " name="school_profile"
                      [(ngModel)]="history.school_profile"  required>
              </mat-form-field>
            </div>
          
          </div>  

          <div class="row" style="margin-right: 25px" style="direction:rtl">
            <button mat-raised-button type="submit" [disabled]="!edit" class="btn btn-danger pull-right"><i
                class="material-icons">check</i> تحديث</button>
            <button mat-raised-button class="btn btn-danger pull-right" routerLink="/dashboard"><i
                class="material-icons">cancel</i>
              الغاء</button>
            <div class="clearfix"></div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-md-12" style="direction: rtl">
          <div class="card">
            <div class="card-header card-header-danger" style="text-align: center">
              <h4 class="card-title ">معلومات المدرسة</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-danger">
                    <th> اسم المدرسة</th>
                    <th>تاريخ التأسيس</th>
                    <th> اسم المالك</th>
                    <th>اسم المدير</th>
                    <th>نبذة عن المدرسة</th>
                    <th>الاجرائات</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let history of historyData">
                      <td>{{history.name}}</td>
                      <td>{{history.establishment_date}}</td>
                      <td>{{history.owner_name}}</td>
                      <td>{{history.director_name}}</td>
                      <td>{{history.school_profile}}</td>
                      <td><a style="color:white; background: #ff5e00" class="btn btn-white btn-round btn-just-icon"
                          (click)="onEdit(history)">
                          <i class="material-icons">edit</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
