<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" style="text-align: center">قائمة الطلاب</h4>
                        <p class="card-category" style="text-align: center">اضافة طالب جديد</p>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="saveFormData(f)" style="direction:rtl">
                            <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <input autocomplete="off" matInput placeholder="الاسم الكامل" name="fullName"
                                            [(ngModel)]="student.fullName" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>اختر المرحلة</mat-label>
                                        <mat-select name="stage" [(ngModel)]="student.stage">
                                            <mat-option value="الاولى">الاولى</mat-option>
                                            <mat-option value="الثانية">الثانية</mat-option>
                                            <mat-option value="الثالثة">الثالثة</mat-option>
                                            <mat-option value="الرابعة">الرابعة</mat-option>
                                            <mat-option value="الخامسة">الخامسة</mat-option>
                                            <mat-option value="السادسة">السادسة</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>اختر الشعبة</mat-label>
                                        <mat-select name="division" [(ngModel)]="student.division">
                                            <mat-option value="أ">أ</mat-option>
                                            <mat-option value="ب">ب</mat-option>
                                            <mat-option value="ج">ج</mat-option>
                                            <mat-option value="د">د</mat-option>
                                            <mat-option value="ه">ه</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field>
                                        <mat-label>الجنس</mat-label>
                                        <mat-select required name="gender" [(ngModel)]="student.gender">
                                            <mat-option value="ذكر">ذكر</mat-option>
                                            <mat-option value="انثى">انثى</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input autocomplete="off" matInput placeholder="العنوان" name="address"
                                            [(ngModel)]="student.address" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input autocomplete="off" matInput placeholder="رقم الهاتف" name="mobile"
                                            [(ngModel)]="student.mobile" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input autocomplete="off" matInput [matDatepicker]="picker"
                                            placeholder="تاريخ الميلاد" name="birthdate" [(ngModel)]="student.birthdate"
                                            required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>متميز</mat-label>
                                        <mat-select required name="diligent" [(ngModel)]="student.diligent">
                                            <mat-option value="نعم">نعم</mat-option>
                                            <mat-option value="كلا">كلا</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input autocomplete="off" matInput placeholder="البريد الالكتروني" name="email"
                                            [(ngModel)]="student.email" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input autocomplete="off" matInput placeholder="كلمة المرور" name="password"
                                            [(ngModel)]="student.password" required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" style="text-align: center">
                                <div class="col-md-12">
                                    <div>
                                        <p>الصورة الشخصية</p>
                                        <input type="file" name="file" id="file" class="inputfile"
                                            (change)="onSelectedFile($event)" accept=".png,.jpg" required />
                                        <label class="btn btn-danger" for="file"><i style="margin: 0 auto"
                                                class="material-icons">cloud_upload</i></label>
                                    </div>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="!f.valid"
                                class="btn btn-danger pull-right"><i class="material-icons">check</i>
                                {{btnTXT}}</button>
                            <button mat-raised-button class="btn btn-danger pull-right" routerLink="/dashboard"><i
                                    class="material-icons">cancel</i> الغاء</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12" style="direction: rtl">
                    <div class="card">
                        <div class="card-header card-header-danger" style="text-align: center">
                            <h4 class="card-title ">المعلومات</h4>
                            <p class="card-category">معلومات الطلاب</p>
                            <div class="row" style="direction: rtl">
                                <div class="col-md-4">
                                    <h4 style="text-align: right">المرحلة</h4>
                                    <mat-form-field>
                                        <mat-label>اختر المرحلة</mat-label>
                                        <mat-select name="stage" [(ngModel)]="stage">
                                            <mat-option value="الاولى">الاولى</mat-option>
                                            <mat-option value="الثانية">الثانية</mat-option>
                                            <mat-option value="الثالثة">الثالثة</mat-option>
                                            <mat-option value="الرابعة">الرابعة</mat-option>
                                            <mat-option value="الخامسة">الخامسة</mat-option>
                                            <mat-option value="السادسة">السادسة</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <h4 style="text-align: right">الشعبة</h4>
                                    <mat-form-field>
                                        <mat-label>اختر الشعبة</mat-label>
                                        <mat-select name="division" [(ngModel)]="division">
                                            <mat-option value="أ">أ</mat-option>
                                            <mat-option value="ب">ب</mat-option>
                                            <mat-option value="ج">ج</mat-option>
                                            <mat-option value="د">د</mat-option>
                                            <mat-option value="ه">ه</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" style="margin-top: 25px">
                                    <button mat-raised-button (click)="filterExact(stage, division)"
                                        class="btn btn-danger pull-right"><i class="material-icons">check</i>
                                        بحث</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-danger">
                                        <th>الاسم الكامل</th>
                                        <th>المرحلة</th>
                                        <th>الشعبة</th>
                                        <th>الجنس</th>
                                        <th>تاريخ الميلاد</th>
                                        <th>العنوان</th>
                                        <th>الهاتف</th>
                                        <th>متميز</th>
                                        <th>البريد الالكتروني</th>
                                        <th>رمز المرور</th>
                                        <th>الصورة الشخصية</th>
                                        <th>الاجرائات</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let student of studentData">
                                            <td>{{student.fullName}}</td>
                                            <td>{{student.stage}}</td>
                                            <td>{{student.division}}</td>
                                            <td>{{student.gender}}</td>
                                            <td>{{student.birthdate}}</td>
                                            <td>{{student.address}}</td>
                                            <td>{{student.mobile}}</td>
                                            <td>{{student.diligent}}</td>
                                            <td>{{student.email}}</td>
                                            <td>{{student.password}}</td>
                                            <td><img style="background-size: auto; width: 50px;height: 50px; border-radius: 100%"
                                                    src="{{student.image}}"></td>
                                            <td><a style="color:white; background: #ff5e00"
                                                    class="btn btn-white btn-round btn-just-icon"
                                                    (click)="onDelete(student)">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                                <a class="btn btn-white btn-round btn-just-icon"
                                                    (click)="onEdit(student)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>