<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" style="text-align: center">الصفوف</h4>
                        <p class="card-category" style="text-align: center">تعيين الصفوف للمراحل</p>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="saveFormData(f)" style="direction:rtl">
                            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <mat-label>اختر المرحلة</mat-label>
                                        <mat-select name="stage" [(ngModel)]="stage">
                                            <mat-option value="الاولى">الاولى</mat-option>
                                            <mat-option value="الثانية">الثانية</mat-option>
                                            <mat-option value="الثالثة">الثالثة</mat-option>
                                            <mat-option value="الرابعة">الرابعة</mat-option>
                                            <mat-option value="الخامسة">الخامسة</mat-option>
                                            <mat-option value="السادسة">السادسة</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="الصف الاولى" name="class1"
                                            [(ngModel)]="service.formData.class1" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="الصف الثانية" name="class2"
                                            [(ngModel)]="service.formData.class2">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="الصف الثالثة" name="class3"
                                            [(ngModel)]="service.formData.class3">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="الصف الرابعة" name="class4"
                                            [(ngModel)]="service.formData.class4">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="الصف الخامسة" name="class5"
                                            [(ngModel)]="service.formData.class5">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput placeholder="الصف السادسة" name="class6"
                                            [(ngModel)]="service.formData.class6">
                                    </mat-form-field>
                                </div>
                            </div>


                            <button mat-raised-button type="submit" [disabled]="!f.valid"
                                class="btn btn-danger pull-right"><i class="material-icons">check</i>
                                {{btnTXT}}</button>
                            <button mat-raised-button class="btn btn-danger pull-right" routerLink="/dashboard"><i
                                    class="material-icons">cancel</i> الغاء</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12" style="direction: rtl">
                    <div class="card">
                        <div class="card-header card-header-danger" style="text-align: center">
                            <h4 class="card-title ">قائمة الصفوف</h4>
                            <p class="card-category">معلومات الصفوف</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="text-danger">
                                        <th>المرحلة</th>
                                        <th>الصف الاولى</th>
                                        <th>الصف الثانية </th>
                                        <th>الصف الثالثة</th>
                                        <th>الصف الرابعة</th>
                                        <th>الصف الخامسة</th>
                                        <th>الصف السادسة</th>
                                        <th>الاجرائات</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let class of classList">
                                            <td>{{class.stage}}</td>
                                            <td>{{class.class1}}</td>
                                            <td>{{class.class2}}</td>
                                            <td>{{class.class3}}</td>
                                            <td>{{class.class4}}</td>
                                            <td>{{class.class5}}</td>
                                            <td>{{class.class6}}</td>
                                            <td><a style="color:white; background: #ff5e00"
                                                    class="btn btn-white btn-round btn-just-icon"
                                                    (click)="onDelete(class.stage)">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                                <a class="btn btn-white btn-round btn-just-icon"
                                                    (click)="onEdit(class)">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>